<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.revparmax.webapp"
	version 	= "0.1.0">

	<name>Revparmax</name>

	<description>
		Keep track of daily revenue and room perfomance statistics anywhere, anytime.
		Adjust on the fly to maximum revenue.
	</description>

	<author href="http://revparmax.com"
		email="imran@revparmax.com">
		Imran Esmail
	</author>
	
	<gap:splash src="www/icons/default.png" width="320" height="480" />
	<gap:splash src="www/icons/default2x.png" width="640" height="960" />
	<gap:splash src="www/icons/default-portrait.png" width="768" height="1004" />
	<gap:splash src="www/icons/default-landscape.png" width="1024" height="748" />
	
	<icon src="www/icons/icon.png" width="57" height="57" />
	<icon src="www/icons/icon-72.png" width="72" height="72" />
	<icon src="www/icons/icon2x.png" width="114" height="114" />

	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
